/************************** Login **************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    
}

.contenedor__main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 60px 15px;
    background: url(./images/prueba5.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 400px;
    height: 450px;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, .6);
}

.contenedor h2{
    font-size: 2.3rem;
    text-align: center;
    color: #fff;
}

.contenedor h2:hover{
    transition: transform 0.5s ease-in-out, color 0.5s ease-in-out;
    transform: scale(1.1);
    color: lightgrey;
}

.contenedor p{
    margin: 0;
    line-height: 1.7;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    font-size: 13px;
}
.input__contenedor{
    position: relative;
    margin: 30px 0;
    width: 300px;
    border-bottom: 2px solid #fff ;
}

.input__contenedor label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: .6s;
    font-weight: bold;
}

input:focus ~ label,
input:valid ~ label{
    top: -5px
}

.input__contenedor input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: - 35px 0 5px;
    color: #fff;
}
.input__contenedor i{
    position: absolute;
    color: #fff;
    font-size: 1.6rem;
    top: 19px;
    right: 8px;
}

.input__contenedor i:hover{
    opacity: .7;
}

.contenedor .btn{
    height: 45px;
    width: 48%;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
    user-select: none;
    background: linear-gradient(to right, rgb(157, 221, 9), rgba(143, 221, 9, 0.543) );
    outline: none;
    border: none;
    color: white;  
}
.contenedor .btn:hover{
    opacity: .9;
    background: linear-gradient(to right, rgba(143, 221, 9, 0.543), rgb(157, 221, 9));
}

@media (max-width: 575px) {
    .monster {
        top: -120px;
    }

    .contenedor {
        width: 100%;
        padding: 20px;
    }

    .contenedor h2 {
        font-size: 1.8rem;
    }

    .contenedor p {
        font-size: 12px;
    }

    .input__contenedor {
        width: 100%;
    }

    .contenedor .btn {
        width: 100%;
    }
}

